phase1_edge_engine/venv/
phase1_edge_engine/__pycache__/
phase1_edge_engine/redacted_output/
phase1_edge_engine/downloads/
phase1_edge_engine/fine_tuned_vlm/
omni-shield-app/node_modules/
omni-shield-backup/
ganache-db/
research/datasets/
*.pyc
*.bin
*.enc
*.wtns
*.r1cs
phase1_edge_engine/zk/redaction
phase1_edge_engine/zk/out.wtns
phase1_edge_engine/zk/witness
phase1_edge_engine/zk/*.zkey
phase1_edge_engine/zk/*.r1cs
